i.el-select__caret {
  /*很关键：将默认的select选择框样式清除*/  
 appearance:none;
 -moz-appearance:none;
 -webkit-appearance:none;
 /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
 padding-right: 14px;
 /*自定义图片*/  
 background: url("../logo.png") no-repeat scroll right center transparent;
 /*自定义图片的大小*/  
 background-size: 18px 12px;
}
/*将小箭头的样式去去掉*/  
.el-icon-arrow-up:before {
 content: '';
}

